<!DOCTYPE html>
 <html>
  <head>
  <style>
  body
  {
    background-color: #FFFFCC
  }
 .left_side 
      {
    border:0;
    margin:0;
    padding:0;
    float:left;
    width:50%; 
      }
  .right_side 
     {
      border:0;
      margin:0;
      padding:0;
      float:left;
      width:50%; 
     }  
 .top_side 
      {
    border:0;
    margin:0;
    padding:0;
    float:top;
    height:40%; 
      }
  .bottom_side 
     {
      border:0;
      margin:0;
      padding:0;
      float:bottom;
      height:60%; 
     } 

  
  </style>
         <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script1|safe}}
         <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script2|safe}}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script3|safe}}
         <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script4|safe}}
         <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script5|safe}}
         <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
         <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script6|safe}}
  </head>
 
<body>
      <div class ="left_side" align = "center">
                <p style= "text-align : left">
                <a href = "http://nychouseestimator.herokuapp.com/"> GO BACK</a>
                </p>
                  {{div1|safe}}
                  <h3 style="font-family:Helvetica" align = "center">Figure 1. House price Vs The number of bedrooms</h3>
                  {{div3|safe}}
                  <h3 style="font-family:Helvetica" align = "center">Figure 3. House price Vs The number of bedrooms</h3>
                  {{div5|safe}}
                  <h3 style="font-family:Helvetica" align = "center">Figure 5. The number of housing properties with different number of bedrooms</h3>
      </div>

      <div class = "right_side" align = "center">
          <br/>
          <br/>
          {{div2|safe}}
          <h3 style="font-family:Helvetica" align = "center">Figure 2. The distribution of Housing Prices over #Bedrooms</h3>
          {{div4|safe}}
          <h3 style="font-family:Helvetica" align = "center">Figure 4. The distribution of Housing Prices over #Bathrooms</h3>
          {{div6|safe}}
          <h3 style="font-family:Helvetica" align = "center">Figure 6. The number of housing properties with different number of Bathrooms</h3>
      </div>
      <div class ="left_side">

      </div>
    
</body>

</html>